@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
}
.abas {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
.abas a {
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    background: #eee;
    font-family: 'Montserrat', sans-serif;
    color: #333;
    font-weight: bold;
    transition: background 0.3s;
}
.abas a.ativa {
    background-color: #0033A0;
    color: white;
    font-family: 'Montserrat', sans-serif;
    
}
.conteudo {
    display: none;
}
.conteudo.ativo {
    display: block;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
}

#formGeral{
    font-family: 'Montserrat', sans-serif;
}

#formGeral > button{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

#idioma{
    font-family: 'Montserrat', sans-serif;
}

#fuso{
    font-family: 'Montserrat', sans-serif;
}

#formSeguranca > button{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.voltar{
    text-decoration: none;
    font-weight: bold;
}

#formNotificacoes > button{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

@media (max-width: 600px) {
  .abas {
    flex-direction: column;
    gap: 10px;
  }
  .abas a {
    padding: 12px;
    font-size: 1rem;
    text-align: center;
  }
  .conteudo {
    padding: 15px 10px;
  }
}