<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/ajuda.css">
    <title>Ajuda</title>
</head>
<body>
    <form id="formAjuda">
        <h1>Ajuda / Suporte</h1>
        <textarea id="mensagemAjuda" placeholder="Por favor, escreva sua dúvida"></textarea>
        <button type="submit">Enviar</button> <br><br>
        <a class="menuPrincipal" href="/">Voltar ao menu principal</a>
        <p id="respostaStatus"></p>
    </form>

    <script src="/static/js/ajuda.js"></script>
</body>
</html>