<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de envio de email de instruções</title>
</head>
<body>
    <form action="">
        <h1>Email de Redefinição de senha</h1>
        <p>Por favor, colonque seu email para enviarmos o email de instruções para redefinicação de senha</p>
        <label for="email">Email</label>
        <input type="text" id="emailRedefinição" name="emailRedefinição" placeholder="Digite seu email"> <br><br>

        <button type="submit">Enviar</button>
    </form>
</body>
</html>