<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Painel de Métricas</title>
    <link rel="stylesheet" href="/static/css/painel_metrica.css">
</head>
<body>
    <h1>Métricas da Plataforma</h1>

    <div class="card">
        <h2>Total de Usuários</h2>
        <div class="numero">{{ total_usuarios }}</div>
    </div>

    <div class="card">
        <h2>Total de Projetos</h2>
        <div class="numero">{{ total_projetos }}</div>
    </div>

    <div class="card">
        <h2>Total de Denuncias</h2>
        <div class="numero">{{ total_denuncia }}</div>
    </div>
</body>
</html>
