<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <link rel="stylesheet" href="/static/css/painel_admin.css">
    <title>Document</title>
</head>
<body>
    <h2>Projetos Denunciados</h2>
{% for p in projetos %}
  <div class="card">
    <img src="{{ url_for('static', filename='uploads/' + p.imagem) }}" alt="Imagem do projeto" width="200">
    <h3>{{ p.nomeProjeto }}</h3>
    <i onclick="denuncia('{{ p.id }}')" class="fa-solid fa-triangle-exclamation"></i>
    <p><strong>Descrição:</strong> {{ p.descricaoProjeto }}</p>
    <p><strong>Linguagens:</strong> {{ p.linguagens }}</p>
    <p><strong>Link:</strong> <a href="{{ p.link }}" target="_blank">{{ p.link }}</a></p>
    <p><strong>Data:</strong> {{ p.data_criacao }}</p>
    <p><strong>Motivo da denúncia:</strong> {{ p.motivo }}</p>
    <p><strong>Email do denunciante:</strong> {{ p.email_usuario }}</p>
    <hr>
  </div>
{% endfor %}


    <div id="modelExcluir" class="modal-overlay">
        <div class="modal">
        <h2>Denunciar Projeto</h2>
        <textarea name="" id="motivoExcluir" placeholder="Tem certeza que deseja excluir o projeto?"></textarea>
        <p>Tem certeza que deseja excluir este projeto?</p>
        <button onclick="confirmarDenuncia()">Sim</button>
        <button onclick="fecharModal()">Cancelar</button>
    </div>
</div>
</body>
</html>