<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for nome_dono, projetos in projetos_agrupados.items() %}
  <div class="usuario-container">
    <h3>{{ nome_dono }}</h3>
    <div class="galeria">
      {% for projeto in projetos %}
        <div class="card">
          <img src="{{ url_for('static', filename='uploads/' + projeto.imagem) }}" alt="{{ projeto.nomeProjeto }}">
          <div class="conteudo">
            <h4>{{ projeto.nomeProjeto }}</h4>
            <p>{{ projeto.descricaoProjeto }}</p>
            <p><strong>Linguagens:</strong> {{ projeto.linguagens }}</p>
            <a href="{{ projeto.link }}" target="_blank" class="botao">Ver Projeto</a>
            <i onclick="denuncia('{{ projeto.id }}')" class="fa-solid fa-triangle-exclamation"></i>
            <i class="fa-solid fa-heart" data-dono-id="{{ projeto.dono_id }}"></i>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endfor %}
</body>
</html>