<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" onsubmit="redefinir(); return false;">
        <input type="password" id="novaSenha" placeholder="Nova senha">
        <button type="submit">Redefinir</button>

        <span id="feedbackSenhaNova"></span>
    </form>

    <script src="/static/js/redefinir_senha.js"></script>
</body>
</html>