<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre o site</title>
    <link rel="stylesheet" href="/static/css/sobre_site.css">
</head>
<body>
    <header>
        <h1>Sobre o site</h1>
        <p>Vitrine de projetos</p>
    </header>

    <main id="content">
        <section>
            <h2>De onde veio a idéia?</h2>
            <p>Todo desenvolvedor já passou por aquela situação no GitHub em que, para ver um projeto de outra pessoa, é preciso baixar as pastas, descompactar e abrir em uma IDE para finalmente ver o site funcionando. O site ele é simples, o desenvolvedor cadastra seus projetos e quem quiser ver basta clicar no botao "Ver Projeto", pronto! Projeto vizualizado, sem precisar baixar arquivos, descompactar etc..</p>
        </section>

        <section>
            <h2>Por que usar a Vitrine de Projetos?</h2>
            <p>Muitas vezes, para analisar um projeto no Github ou em outras plataformas, é preciso baixar o código, descompactar e configurar o ambiente local para executar a aplicação, um processo que pode ser muito complexoe desanimador para quem quer apenas conhecer o trabalho. Na Vitrine de Projetos, eliminamos essa barreira e oferecemos acesso instantâneo ao projeto</p>
        </section>

        <section>
            <h2>Quem pode usar?</h2>
            <p>A plataforma é ideia para desenvolvedores que desejam mostrar seu portfólio de maneira simples e acessível, além de empresas e recrutadores que buscam avaliar projetos reais com rapidez. Qualquer pessoai interessada em tecnologia pode explorar a vitrine de projetos, se inspirar e conhecer novas ideias</p>
        </section>
    </main>
</body>
</html>