<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre o site</title>
    <link rel="stylesheet" href="/static/css/sobre_site.css">
</head>
<body>
    <header>
        <h1>Sobre o Autor</h1>
        <p>Bruno Melo de Morais</p>
    </header>

    <main id="content">
        <section>
            <h2>Conheça quem está por trás da ideia</h2>
            <p>Me chamo Bruno Melo de Morais, tenho 19 anos e sou apaixonado por tecnologia. Atualmente, estou cursando o Ensino Superior em Análise e Desenvolvimento de Sistemas (ADS). Sou muito esforçado, curioso e estou sempre em busca de aprender algo novo.</p>
        </section>

        <section>
            <h2>Minha trajetória na tecnologia e paixão por aprender</h2>
            <p>Iniciei no ramo da tecnologia em 2022, quando ingressei no ensino médio técnico na FITO (Fundação Instituto Tecnológico de Osasco). Desde então, venho me atualizando, me desafiando, conhecendo meus pontos fortes e fracos, e colocando em prática meu conhecimento por meio de projetos pessoais.</p>
        </section>

    </main>
</body>
</html>